# Виртуальное окружение (PyCharm обычно создает его в папке 'venv' или '.venv')
venv/
.venv/
env/

# Файлы кеша Python
__pycache__/
*.pyc

# Файлы окружения с паролями и ключами
.env
.zip

# Служебные файлы IDE (PyCharm)
.idea/
.vscode/

# Временные файлы
logs/
*.tmp
*.log

#Vosk Модели
data/vosk_model/